{% extends 'base.html' %}
{% block title %}Clients manager{% endblock %}
{% block dashboard_name %}Clients manager{% endblock %}
{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4 text-primary">Clients Profiles</h2>
                    <select name="selected_user" id="userSelect" class="form-select">
                        {% for user in Users %}
                            <option value="{{ user.id }}" {% if user.id == request.user.id %}selected{% endif %}>
                                {{ user.first_name }}
                            </option>
                        {% endfor %}
                    </select>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="user_id" name="user_id" value="{{ request.user.id }}">
                        <div class="row">
                            <!-- Column 1 -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">Name</label>
                                    <input type="text" class="form-control" value="{{ user.first_name }}" id="first_name" name="first_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" value="{{ user.username }}" id="username" name="username" disabled>
                                </div>
                            </div>
                            <!-- Column 2 -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" value="{{ user.email }}" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" value="{{ user.phone }}" id="phone" name="phone">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-12">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                {% if form.password.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {{ form.password.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 offset-md-3" style="margin-top: 20px;">
                                <div class="mb-3 text-center">
                                    <img id='profile_picture' src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                                    <input type="file" class="form-control" id="profile_pic" name="profile_pic" accept="image/*">
                                    <label for="profile_pic" class="form-label">Profile Picture</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid mt-4 offset-md-5">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const usersData = {
        {% for user in Users %}
            "{{ user.id }}": {
                "first_name": "{{ user.first_name|escapejs }}",
                "username": "{{ user.username|escapejs }}",
                "email": "{{ user.email|escapejs }}",
                "phone": "{{ user.phone|escapejs }}",
                "profile_picture": "{{ user.profile_picture.url|escapejs }}"
            },
        {% endfor %}
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userSelect = document.getElementById('userSelect');

        userSelect.addEventListener('change', function () {
            const selectedId = this.value;
            const user = usersData[selectedId];

            if (user) {
                document.getElementById('first_name').value = user.first_name;
                document.getElementById('username').value = user.username;
                document.getElementById('email').value = user.email;
                document.getElementById('phone').value = user.phone;
                document.getElementById('profile_picture').src = user.profile_picture;
            }
            document.getElementById('user_id').value = selectedId;

        });
    });

</script>


{% endblock %}