{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Expand at sm</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <!-- SIDEBAR -->
<div class="d-flex">
  <div class="bg-light sidebar d-flex flex-column flex-shrink-0 p-3 min-vh-100">
    <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
      <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="40" height="32">
      <span class="fs-4 ms-2">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link active d-flex align-items-center">
          <i class="bi bi-house-door"></i>
          <span class="ms-2">Home</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex align-items-center">
          <i class="bi bi-speedometer2"></i>
          <span class="ms-2">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex align-items-center">
          <i class="bi bi-table"></i>
          <span class="ms-2">Orders</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex align-items-center">
          <i class="bi bi-box"></i>
          <span class="ms-2">Products</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END SIDEBAR -->

<h1>Hello, World!</h1>

{% endblock %}