{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block dashboard_name %}Profile{% endblock %}
{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4 text-primary">User Profile</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Column 1 -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">Name</label>
                                    <input type="text" class="form-control" value="{{ user.first_name }}" id="first_name" name="first_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" value="{{ user.username }}" id="username" name="username" disabled>
                                </div>
                            </div>

                            <!-- Column 2 -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" value="{{ user.email }}" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" value="{{ user.phone }}" id="phone" name="phone">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-12">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-3" style="margin-top: 20px;">
                                <div class="mb-3 text-center">
                                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                                    <input type="file" class="form-control" id="profile_pic" name="profile_pic" accept="image/*">
                                    <label for="profile_pic" class="form-label">Profile Picture</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid mt-4 offset-md-5">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}